body {
    font-size: 1vw;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

@media screen and (max-width: 600px) {
    .column {
        width: 100%;
    }
}

.topnav {
    top: 0;
}

.personalInfo {
    background-color: white;
    padding: 1%;
}

.bio {
    display: list-item;
    float: none;
    border-right: none;
    padding: 3%;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

@media screen and (max-width: 600px) {
    ul.topnav li.right,
    ul.topnav li {
        float: none;
    }
}

.column {
    float: left;
    padding: 10px;
}

.columnRight {
    width: 30%;
}

.columnLeft {
    width: 65%;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

li {
    float: left;
    border-right: 1px solid #bbb;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #111;
}

.active {
    background-color: #4CAF50;
}

.hr {
    border: 2px solid green;
}

.profilePicture {
    width: 100%;
}

.centeredText {
    text-align: center;
}

.profileCard {
    padding: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    text-align: center;
    min-width: 200px;
}

.title {
    color: grey;
    font-size: 1.8vw;
}

button {
    border: none;
    outline: 0;
    display: flex;
    padding: 8px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
}

.intro {
    margin: 20px;
    padding: 5px;
    border-style: solid;
    text-align: center;
    border-radius: 20px;
}

.urls:link {
    color: black;
}

.urls:visited {
    color: green;
}

.urls:hover {
    color: darkblue;
}

.urls:active {
    color: blue;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td,
th {
    border: 1px solid grey;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

.bookmark:link {
    color: black;
}

.bookmark:visited {
    color: green;
}

.bookmark:hover {
    color: darkblue;
}

.bookmark:active {
    color: blue;
}

.textLeft {
    text-align: left;
}

.cardTable {
    border: none;
}

.cardTable td,
th {
    border: none;
}

.far {
    color: green;
}

.linkedin {
    position: relative;
    display: inline-block;
}

.linkedin .linkedinText {
    visibility: hidden;
    width: 120px;
    background-color: white;
    border: solid;
    border-color: blueviolet;
    color: blueviolet;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
}

.linkedin:hover .linkedinText {
    visibility: visible;
}

.github {
    position: relative;
    display: inline-block;
    color: green;
}

.github .githubText {
    visibility: hidden;
    width: 120px;
    background-color: white;
    border: solid;
    border-color: green;
    color: green;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
}

.github:hover .githubText {
    visibility: visible;
}

.mailIcon {
    position: relative;
    display: inline-block;
    color: red;
}

.mailIcon .mailText {
    visibility: hidden;
    width: 120px;
    background-color: white;
    border: solid;
    border-color: red;
    color: red;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
}

.mailIcon:hover .mailText {
    visibility: visible;
}

.emailForm {
    font-size: 1vw;
    margin-left: auto;
    margin-right: auto;
    border: solid;
    border-radius: 10px;
    padding: 5px;
    text-align: center;
    border-color: black;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-bottom: 20px;
}

.submitBtn {
    font-size: 1vw;
    border: solid;
    border-color: black;
    border-radius: 5px;
    background-color: white;
    padding: 5px;
    margin-left: 20px;
    margin-right: 10px;
    margin-top: 10px;
    color: green;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-bottom: 20px;
    cursor: pointer;
}

.submitBtn:hover {
    background-color: green;
    color: black;
    opacity: 0.5;
}

.clearBtn {
    font-size: 1vw;
    border: solid;
    border-color: black;
    border-radius: 5px;
    background-color: white;
    padding: 5px;
    margin-left: 20px;
    margin-right: 10px;
    margin-top: 10px;
    color: red;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-bottom: 20px;
    cursor: pointer;
}

.clearBtn:hover {
    background-color: red;
    color: black;
    opacity: 0.5;
}

.nameInput {
    font-size: 1vw;
    margin-top: 10px;
    text-align: center;
}

.emailInput {
    font-size: 1vw;
    text-align: center;
}

.commentInput {
    font-size: 1vw;
    text-align: center;
    width: auto;
}

textarea {
    font-size: 1vw;
}

.aboutColumnLeft {
    width: 50%;
}

.aboutMeContainer {
    border: solid;
    border-radius: 10px;
    padding: 5px;
    text-align: center;
    border-color: black;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-bottom: 20px;
}

.timeline {
    position: relative;
    max-width: 800px;
    margin: 0 auto;
}

.timeline::after {
    content: '';
    position: absolute;
    width: 6px;
    background-color: black;
    top: 0;
    bottom: 0;
    left: 50%;
    margin-left: -3px;
}

.container {
    box-sizing: border-box;
    padding: 10px 40px;
    position: relative;
    background-color: inherit;
    width: 50%;
}

.container::after {
    content: '';
    position: absolute;
    width: 25px;
    height: 25px;
    right: -17px;
    background-color: white;
    border: 4px solid green;
    top: 15px;
    border-radius: 50%;
    z-index: 1;
}

.left {
    left: 0;
}

.right {
    left: 50%;
}

.left::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    right: 30px;
    border: medium solid black;
    border-width: 10px 0 10px 10px;
    border-color: transparent transparent transparent black;
}

.right::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    left: 30px;
    border: medium solid black;
    border-width: 10px 10px 10px 0;
    border-color: transparent black transparent transparent;
}

.right::after {
    left: -16px;
}

.content {
    padding: 20px 30px;
    background-color: white;
    position: relative;
    border-radius: 6px;
    border: solid;
    border-color: black;
}

@media screen and (max-width: 600px) {
    .timeline::after {
        left: 31px;
    }
    .container {
        width: 100%;
        padding-left: 70px;
        padding-right: 25px;
    }
    .container::before {
        left: 60px;
        border: medium solid black;
        border-width: 10px 10px 10px 0;
        border-color: transparent white transparent transparent;
    }
    .left::after,
    .right::after {
        left: 15px;
    }
    .right {
        left: 0%;
    }
}

.cardsContainer {
    text-align: center;
}

.workCard1 {
    padding: 5px;
    max-width: 350px;
    font-size: 1vw;
    border: solid;
    border-radius: 10px;
    border-color: black;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
    display: inline-block;
    margin-left: 25px;
}

.WBP1 {
    width: 50%;
}

.workCard1 .workCardText {
    visibility: hidden;
    width: 120px;
    background-color: white;
    border: solid;
    border-color: green;
    color: green;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
}

.workCard1:hover .workCardText {
    visibility: visible;
}